# Saver Specific
settings.json
subnautica_save_saver.log
Subnautica-SavedGames-Backup/
SubnauticaBelowZero-SavedGames-Backup/
scraps/
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python



# Virtual environments
venv/
.venv/
env/
.env/

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace


# Logs and databases
*.log
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Build and distribution
build/
dist/
*.egg-info/

# Github folders and files
.git
.github




